@model Domain.Resources.CarResource

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Car</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="http://localhost:51949/api/cars" method="post">
            <input name="Brand" class="form-control" type="text" />
            <input name="Сarcase" class="form-control" type="number" />
            <input name="Color" class="form-control" type="text" />
            <input type="submit" value="Create" class="btn btn-primary" />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
